<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <!-- navbar -->
        <div class="topnav" id="myTopnav">
            <a href="#" class="active">Inicio</a>
            {% if user.is_authenticated %}
                <a href="#">{{user.username}}: cerrar sesion</a>
            {% else %}
                <a href="#">Iniciar Sesion</a>
            {% endif %}
            <a href="#">Clientes</a>
            

            <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </div>
        <div class="contenido">
            {% block contenido %}
            
            {% endblock contenido %}
        </div>
        <!-- footer -->
        <footer>
            <div class="footer">
            <p>Dirijete a cualquiera de nuestras redes sociales</p>
            <a href="#"><img src="imgs/pepoclown.gif" width="70px" /></a>
            </div>
        </footer>
    </div>
</body>
</html>