{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/'%}css/base.css">
    {% block css %}
    
    {% endblock css %}
    <title>Document</title>
</head>
<body>
    {% comment %} navbar {% endcomment %}
    <div class="topnav" id="myTopnav">
        <a href="{% url 'inicio' %}" class="active">Inicio</a>
        {% if user.is_authenticated %}
            <a href="{% url 'cerrar_sesion' %}">{{user.username}}: cerrar sesion</a>
        {% else %}
            <a href="{% url 'iniciar_sesion' %}">Iniciar Sesion</a>
        {% endif %}
        {% if perms.app.add_cliente %}
            <a href="{% url 'ListadoCliente' %}">Clientes</a>
            <a href="{% url 'listado' %}">ventas</a>
        {% endif %}
        
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </div>

    <div class="container">
        {% block contenido %}
        
        {% endblock contenido %}
    </div>
    <!-- footer -->
    <footer>
        <div class="footer">
        <p>Dirijete a cualquiera de nuestras redes sociales</p>
        <a href="#"><img src="{% static 'app/'%}img/pepoclown.gif" width="70px" /></a>
        </div>
    </footer>
</body>
</html>