{% extends 'app/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'app/'%}css/confirmacion.css">
{% endblock css %}

{% block contenido %}
    <form action="" method="post">
        {% csrf_token %}
        <section class="form-registro centrado">
            <h1><!-- aqui va el mensaje --> ¿Seguro que quiere eliminar si cuenta?</h1>
            <br>
            <a class="eliminar" href="{% url 'EliminarCliente' cliente %}">Eliminar</button>
            <a class="boton"  onclick="" href="{% url 'ListadoCliente' %}">Cancelar</button>
        </section>
    </form>
{% endblock contenido %}
