<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="list_cuenta.css">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <section class="form-registro">
            <h4>Lista de Cuentas</h4>
            <table>
                <tr>
                    <th>Rut</th>
                    <th>Nombre Completo</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Estado</th>
                </tr>

                <tr>
                    <td><!-- rut concatenado con el dv -->26375627-4</td>
                    <td><!-- nombre concatenado con los dos apellidos -->erwin enrique nuñez bracho</td>
                    <td><!-- usuario -->erwin</td>
                    <td><!-- correo -->er.nunez@duocuc.cl</td>
                    <td><!-- estado de cuenta -->activa</td>

                    <td class="eliminar"><a class="text" href="#">Eliminar</a></td>
                    <td class="Modificar"><a href="#">Modificar</a></td>
                </tr>
            </table>
        </section>
    </form>
</body>
</html>